@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
    background-image: url('recursos/bgHero.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
}